<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather: add new City</title>
</head>
<body>
<div style="text-align:center;">
    <h2>Add new City</h2>
    <p>Examples: 'Moscow,RU' or 'New York'</p>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
</div>
{% if not form.is_valid %}
<div style="text-align:center;">
    <p>
        See <a href="{% url 'weather:index' %}">all cities</a>
    </p>
</div>
{% endif %}
</body>
</html>